/* :root {
 
} */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  background-color: rgba(231, 231, 231, 0.669);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* header */
.header {
  width: 100%;
  background-color: #303b44;
}

.container {
  max-width: 1144px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.vertical {
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  height: 24px;
  margin: 0;
  margin-left: 8px;
}

.header-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.icon-dropdown {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.header-author-btn {
  display: block;
  padding: 6px 8px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  border: 1px solid #6f7577;
  border-radius: 3px;

  transition: border 200ms ease-in;
}

.header-author-btn:hover {
  border: 1px solid #fff;
}

.header-link {
  display: block;
  margin-left: auto;
  font-size: 14px;
  color: rgb(255, 153, 247);
}

/* sticky header */
.sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(146, 156, 165, 0.3);
}

.sticky-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky-header-list {
  display: flex;
  gap: 20px;
}

.sticky-header-item {
  padding: 20px 0;
  font-weight: 500;
  font-size: 14px;
  color: #909090;

  transition: color 300ms ease-in;
}

.sticky-header-item:hover {
  color: #548eaa;
}

.sticky-header-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-search {
  fill: #929ca5;
  transition: fill 300ms ease-in;
}
.icon-search:hover {
  fill: #548eaa;
}

.icon-settings {
  fill: #929ca5;
  transition: fill 300ms ease-in;
}
.icon-settings:hover {
  fill: #548eaa;
}

.sticky-header-login-btn {
  display: flex;
  padding: 8px 14px;
  border-radius: 3px;
  background-color: #548eaa;
  color: #fff;
  font-size: 13px;

  transition: background-color 200ms ease-in;
}

.sticky-header-login-btn:hover {
  background-color: #39728e;
}
