/* :root {
 
} */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  color: #333;
  background-color: rgba(231, 231, 231, 0.669);
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 300ms ease-in;
}

/* header */
.header {
  width: 100%;
  background-color: #303b44;
}

.container {
  max-width: 1144px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.vertical {
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  height: 24px;
  margin: 0;
  margin-left: 8px;
}

.header-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.icon-dropdown {
  display: inline-block;
  width: 14px;
  height: 14px;
  fill: #fff;
}

.header-author-btn {
  display: block;
  padding: 6px 8px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  border: 1px solid #6f7577;
  border-radius: 3px;

  transition: border 200ms ease-in;
}

.header-author-btn:hover {
  border: 1px solid #fff;
}

.header-link {
  display: block;
  margin-left: auto;
  font-size: 14px;
  color: rgb(255, 153, 247);
}

/* sticky header */
.sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(146, 156, 165, 0.3);
}

.sticky-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky-header-list {
  display: flex;
  gap: 20px;
}

.sticky-header-item {
  padding: 20px 0;
  font-weight: 500;
  font-size: 14px;
  color: #909090;

  transition: color 300ms ease-in;
}

.sticky-header-item:hover {
  color: #548eaa;
}

.sticky-header-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-search {
  fill: #929ca5;
  transition: fill 300ms ease-in;
}
.icon-search:hover {
  fill: #548eaa;
}

.icon-settings {
  fill: #929ca5;
  transition: fill 300ms ease-in;
}
.icon-settings:hover {
  fill: #548eaa;
}

.sticky-header-login-btn {
  display: flex;
  padding: 8px 14px;
  border-radius: 3px;
  background-color: #548eaa;
  color: #fff;
  font-size: 13px;

  transition: background-color 200ms ease-in;
}

.sticky-header-login-btn:hover {
  background-color: #39728e;
}

/* main */
.main-container {
  display: flex;
  gap: 20px;
}

.main-container-inner {
  max-width: 780px;
  margin-top: 12px;
  padding: 20px;
  background-color: #fff;
}

.aside {
  width: 300px;
  margin-top: 24px;
  padding: 24px 20px;
  background-color: #fff;
}

.my-feed-title {
  margin-bottom: 26px;
  font-size: 20px;
  font-weight: 700;
}

.my-feed-setting-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-my-feed-settings {
  fill: black;
}

/* Footer */
.foter-menu-section {
  padding-top: 34px;
  padding-bottom: 34px;
  background-color: #303b44;
}

.footer-list {
  display: flex;
  gap: 32px;
  color: #fff;
}

.footer-item {
  flex: 1;
}

.footer-item-text {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 700;
}

.horizontal {
  height: 1px;
  width: 100%;
  margin: 0 0 20px;
  border: none;
  background-color:  rgba(255, 255, 255, 0.3);
}

.footer-item-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-item-link {
  font-size: 13px;

  transition: color 250ms ease;
}
.footer-item-link:hover {
  opacity: 0.6;
  color: #548eaa;
}

.footer-social {
  padding-top: 16px;
  padding-bottom: 16px;
background-color: #1f2225;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-links {
  display: flex;
  gap: 14px;
}

.footer-social-links li {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  overflow: hidden;
}
.icon-youtube {
  transform: scale(1.3);
}

.icon-twitter {
  transform: scale(1.2);
}

.footer-years {
  font-size: 14px;
color: #bbcdd6;
}

.footer-tech {
  font-size: 14px;
  font-weight: 700;
  color: rgb(73, 173, 223);

  transition: color 250ms ease;
}

.footer-tech:hover {
  color: #548eaa;
}       

.footer-lang-btn {
  font-size: 14px;
    font-weight: 700;
    color: rgb(73, 173, 223);
}

/* dropdown header nav */
.dropdown-content {
  display: none;
  position: absolute;
  top: 108px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content-item {
  padding: 12px 24px;

  transition: background-color 250ms ease;
}
.dropdown-content-item:hover {
  background-color: #f0f0f0;
}

.dropdown-title {
  margin-bottom: 4px;
  font-size: 21px;
  font-weight: 500;
}

.dropdown-text {
  font-size: 14px;
  font-weight: 500;
  color: rgb(144, 144, 144);
}

/* Settings modal */
.settings-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.settings-modal-content {
  position: absolute;
  width: 320px;
  top: 50%;
  left: 50%;
  padding: 24px 0;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.setting-modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.settings-modal-title {
  padding: 0 16px 24px 16px;
  font-size: 15px;
  font-weight: 500;
}

.setting-modal-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.setting-modal-fieldset legend {
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(111, 117, 119);
  background-color: rgb(239, 246, 250);
}

.settings-modal-labelset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 19px 16px;
  font-size: 14px;
}

.settings-modal-labelset label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.settings-modal-labelset label input {
  margin: 0;
  width: 16px;
  height: 16px;
}

.save-settings-btn {
  display: block;
  width: 288px;
  padding: 12px 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  color: #fff;
  background-color: rgb(84, 142, 170);
}