.my-feed-title {
    margin-bottom: 26px;
    font-size: 20px;
    font-weight: 700;
}

.my-feed-setting-button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-my-feed-settings {
    fill: var(--main-text-color);
}